<script>
	$(function(){
		$('#cams').find('span').click(function(){
			loadCameraFeed(this);
		});
	});
</script>

<div id="cams">
    <div class="cctv-col">
        <img src="images/i-10.png" style="margin-left:37px"><br>
        <span class="cctvspan c1" data-video="CCTV_I-10_00-6_EB" data-markerid="c1"><img src="images/camera.png"> I-10  MM  0.6</span><br>
        <span class="cctvspan c2" data-video="CCTV_I-10_01-6_EB" data-markerid="c2"> <img src="images/camera.png"> I-10  MM  1.6</span><br>
        <span class="cctvspan c3" data-video="CCTV_I-10_03-2_EB" data-markerid="c3"> <img src="images/camera.png"> I-10  MM  3.2</span><br>
        <span class="cctvspan c4" data-video="CCTV_I-10_04-2_EB" data-markerid="c4"> <img src="images/camera.png"> I-10  MM  4.2</span><br>
        <span class="cctvspan c5" data-video="CCTV_I-10_05-3_EB" data-markerid="c5"> <img src="images/camera.png"> I-10  MM  5.3</span><br>
        <span class="cctvspan c6" data-video="CCTV_I-10_" data-markerid="c6"> <img src="images/camera.png"> I-10  MM  6.8</span><br>
        <span class="cctvspan c7" data-video="CCTV_I-10_" data-markerid="c7"> <img src="images/camera.png"> I-10  MM  8.1</span><br>
        <span class="cctvspan c8" data-video="CCTV_I-10_" data-markerid="c8"> <img src="images/camera.png"> I-10  MM  9.2</span><br>
        <span class="cctvspan c9" data-video="CCTV_I-10_" data-markerid="c9"> <img src="images/camera.png"> I-10  MM  10.0</span><br>
        <span class="cctvspan c10" data-video="CCTV_I-10_" data-markerid="c10"> <img src="images/camera.png"> I-10  MM  10.0</span><br>
        <span class="cctvspan c11" data-video="CCTV_I-10_" data-markerid="c11"> <img src="images/camera.png"> I-10  MM  10.5</span><br>
        <span class="cctvspan c12" data-video="CCTV_I-10_" data-markerid="c12"> <img src="images/camera.png"> I-10  MM  11.4</span><br>
        <span class="cctvspan c13" data-video="CCTV_I-10_" data-markerid="c13"> <img src="images/camera.png"> I-10  MM  12.2</span><br>
        <span class="cctvspan c14" data-video="CCTV_I-10_" data-markerid="c14"> <img src="images/camera.png"> I-10  MM  12.7</span><br>
        <span class="cctvspan c15" data-video="CCTV_I-10_" data-markerid="c15"> <img src="images/camera.png"> I-10  MM  13.7</span><br>
        <span class="cctvspan c16" data-video="CCTV_I-10_" data-markerid="c16"> <img src="images/camera.png"> I-10  MM  14.9</span><br>
        <span class="cctvspan c17" data-video="CCTV_I-10_" data-markerid="c17"> <img src="images/camera.png"> I-10  MM  15.7</span><br>
        <span class="cctvspan c18" data-video="CCTV_I-10_" data-markerid="c18"> <img src="images/camera.png"> I-10  MM  16.3</span><br>
        <span class="cctvspan c19" data-video="CCTV_I-10_" data-markerid="c19"> <img src="images/camera.png"> I-10  MM  17.3</span><br>
        <span class="cctvspan c20" data-video="CCTV_I-10_" data-markerid="c20"> <img src="images/camera.png"> I-10  MM  17.9</span><br>
        <span class="cctvspan c21" data-video="CCTV_I-10_" data-markerid="c21"> <img src="images/camera.png"> I-10  MM  18.9</span><br>
        <span class="cctvspan c22" data-video="CCTV_I-10_" data-markerid="c22"> <img src="images/camera.png"> I-10  MM  19.7</span><br>
        <span class="cctvspan c23" data-video="CCTV_I-10_" data-markerid="c23"> <img src="images/camera.png"> I-10  MM  21.4</span><br>
        <span class="cctvspan c24" data-video="CCTV_I-10_" data-markerid="c24"> <img src="images/camera.png"> I-10  MM  23.5</span><br>
        <span class="cctvspan c25" data-video="CCTV_I-10_" data-markerid="c25"> <img src="images/camera.png"> I-10  MM  25.6</span><br>
        <span class="cctvspan c26" data-video="CCTV_I-10_" data-markerid="c26"> <img src="images/camera.png"> I-10  MM  26.6</span><br>
        <span class="cctvspan c27" data-video="CCTV_I-10_" data-markerid="c27"> <img src="images/camera.png"> I-10  MM  28.1</span><br>
        <span class="cctvspan c28" data-video="CCTV_I-10_" data-markerid="c28"> <img src="images/camera.png"> I-10  MM  29.9</span><br>
        <span class="cctvspan c29" data-video="CCTV_I-10_" data-markerid="c29"> <img src="images/camera.png"> I-10  MM  30.9</span><br>
        <span class="cctvspan c30" data-video="CCTV_I-10_" data-markerid="c30"> <img src="images/camera.png"> I-10  MM  32.6</span><br>
    </div>
    <div class="cctv-col">
        <img src="images/i-110.png" style="margin-left:37px"><br>
        <span class="cctvspan c31" data-video="CCTV_I-110_" data-markerid="c31"> <img src="images/camera.png"> I-110  MM  0.1</span><br>
        <span class="cctvspan c32" data-video="CCTV_I-110_" data-markerid="c32"> <img src="images/camera.png"> I-110  MM  0.2</span><br>
        <span class="cctvspan c33" data-video="CCTV_I-110_" data-markerid="c33"> <img src="images/camera.png"> I-110  MM  0.4</span><br>
        <span class="cctvspan c34" data-video="CCTV_I-110_" data-markerid="c34"> <img src="images/camera.png"> I-110  MM  1.3</span><br>
        <span class="cctvspan c35" data-video="CCTV_I-110_" data-markerid="c35"> <img src="images/camera.png"> I-110  MM  2.1</span><br>
        <span class="cctvspan c36" data-video="CCTV_I-110_" data-markerid="c36"> <img src="images/camera.png"> I-110  MM  2.7</span><br>
        <span class="cctvspan c37" data-video="CCTV_I-110_" data-markerid="c37"> <img src="images/camera.png"> I-110  MM  4.1</span><br>
        <span class="cctvspan c38" data-video="CCTV_I-110_" data-markerid="c38"> <img src="images/camera.png"> I-110  MM  4.7</span><br>
        <span class="cctvspan c39" data-video="CCTV_I-110_" data-markerid="c39"> <img src="images/camera.png"> I-110  MM  5.6</span><br>
    </div>
    <div class="cctv-col">
        <img src="images/us_98.png" style="margin-left:37px"><br>
        <span class="cctvspan c40" data-video="CCTV_US-98_" data-markerid="c40"> <img src="images/camera.png"> US-98 North</span><br>
        <span class="cctvspan c41" data-video="CCTV_US-98_" data-markerid="c41"> <img src="images/camera.png"> US-98 South</span><br>
    </div>
</div>
